.navBar {
  position: relative;
  overflow: hidden;
}

.topNavBar {
  font-size: 0.9rem;
  color: white;
  background-color: var(--green);
}

.topNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  padding: 10px 12px;
  margin: 0px auto;
}

.topNavItems {
  display: flex;
  align-items: center;
}

.topNavItem {
  padding: 0 10px;
}

.mainNavBar {
  line-height: 12px;
  padding: 5px 0px;
}

.mainNav {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  padding: 12px 0;
  margin: 0 auto;
  align-items: center;
}

.mainNavItems {
  display: flex;
  align-items: center;
}

.mainNavItem {
  padding: 0px 1rem;
  font-size: 18px;
  cursor: pointer;
}

.mainNavItem:hover {
  color: var(--green);
}

.rightIcons {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.rightIcon {
  cursor: pointer;
}
