@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Variables */
:root {
  --white: #fff;
  --black: #222;
  --green: #6cbe02;
  --grey1: #f0f0f0;
  --grey2: #e9d7d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}
